__pycache__/
*.py[cod]
*.log
build/
dist/

.DS_Store

uninstall.sh
appComment.py
g-engine/Answer.md
g-engine/EXAMPLES.md
g-engine/G-ENGINE-README.md
g-engine/g-engine.c
g-engine/g-engineFixed.c
g-engine/QUICKSTART.md
gamma_slider.desktop
g-engine/build-g-engine.sh
